@import 'normalize';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic);

/*
Todos: 
- Schrift sollte auf mobile devices kleiner sein
- Link auf Logo geht nicht -> macht einen underline
- abstand zu underlines verschieden bei georgia und source sans pro
*/

$base-font-size: 19px;
$line-height-base: 1.7;
$vertical-space: $base-font-size * $line-height-base; // ca 31px
$horizontal-space: $vertical-space / 2;
$base-text-color: #434343;
$base-background-color: #fcfcfc;
$alternative-font-family: 'Source Sans Pro', serif; 
$base-font-family: 'Georgia', sans-serif;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $line-height-base;
  color: $base-text-color;
  background-color: $base-background-color;
  margin-top: $vertical-space * 2;
}

.intro {
  font-family: $alternative-font-family;
  line-height: .8em;
}

a {
  color: $base-text-color;
}

h1, h2, h3, ul, p, table {
  margin-top: 0;
  margin-bottom: $vertical-space;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: $alternative-font-family;
  font-size: $base-font-size * .8;
}

h1, h2, h3 {
  font-size: $base-font-size;
  text-align: center;
  font-family: $alternative-font-family;
  font-weight: 600;
}

h1 {
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0;
  text-align: left;
}

header, nav {
  text-align: center;
  font-family: $alternative-font-family;
}

nav {
  padding-top: $vertical-space;
  padding-bottom: $vertical-space;
}

section {
  max-width: 40rem; 
  margin: 0 auto;
  padding: {
    left: $horizontal-space;
    right: $horizontal-space;
  }
}

.brand {
  font-family: $alternative-font-family;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: $vertical-space * 2;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.brand-name {
  line-height: 1;
}

.claim {
  font-size: 0.70rem;
  text-transform: uppercase;
}

.list-horizontal {
  list-style: none;
  padding: 0;

  li {
    display: inline;
    padding: {
      left: $horizontal-space / 2;
      right: $horizontal-space / 2;
    }
  }
}

img {
  width: 100%;
}

strong {
  font-weight: 600;
}

td {
  padding: 4px 4px 4px 4px;
}

/* pretty underline */

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Transform px to em
@function em($px, $base: $base-font-size) {
    @return (strip-unit($px) / strip-unit($base)) * 1em;
}

// Transform em to px
@function px($em, $base: $base-font-size) {
    @return (strip-unit($em) * strip-unit($base)) * 1px;
}

// Underline mixin
//
// If you set the variable in ems, be carefull. Firefox doesn't like dimensions <1px.
// $var * base-font-size > 1px
@mixin underline ($underline-color: $base-text-color, $position: 0px, $width: 1px, $background-color: $base-background-color, $cut-distance: 1px, $font-size: $base-font-size) {
  
  // remove classic underline
  text-decoration: none;
  
  // warn if underline is thinner than 1px
  @if unit($width)==px {
    @if $width < 1px {
      @warn "Underline is thinner than 1px. Some browsers may not display it."
    }
  }
  @if unit($width)==em {
    @if px($width) < 1px {
      @warn "Underline is thinner than 1px. Some browsers may not display it."
    }
  }
  
  // if unit is in px, tranform it in em
  @if unit($position)==px {
    $position: em($position, $font-size);
  }
  @if unit($width)==px {
    $width: em($width, $font-size);
  }
  @if unit($cut-distance)==px {
    $cut-distance: em($cut-distance, $font-size);
  }
  
  // the underline
  background-image: linear-gradient(to top, $background-color, $background-color $position, $underline-color $position, $underline-color $position+$width, $background-color $position+$width);

  // text-shadow
  // why so much ?! -> http://dsh.re/14297
  $precision: 5;
  $all: (); 
  $delta-distance: $width * 2 / ($precision - 1);
  // from left to right
  @for $i from 0 through ($precision - 1) {
    // from top to bottom
    @for $y from 0 through ($precision - 1){
      $all: append($all, (-$width)+$delta-distance*$i ((-$width)+$delta-distance*$y) 0 $background-color, comma)
    }
  }
  text-shadow: $all;
}

.underline {
  @include underline();
  
}

a {
  @include underline();
}

// thicker underline for title
h1,
h2 {
  & > .underline {
    @include underline($base-text-color, 0.085em, 0.085em);
  }
}

// housekeeping
body {
  color: $base-text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  font-feature-settings: "liga", "clig", "onum";
}

/* pretty underline end */
