<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>4Quant | <%= current_page.data.title || "Big Image Analytics" %></title>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "main" %>
  </head>
  <body>
    <section>
      <header>
        <span class="brand">
          <div class="brand-name"><strong>4Q</strong>uant</div>
          <div class="claim">Big Image Analytics</div>
        </span>
      </header>
    </section>
    <main>
      <section>
        <%= yield %>
      </section>
    </main>
    <section>
      <nav>
        <ul class="list-horizontal">
          <li><a href="index.html">Home</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="solutions.html">Solutions</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="legals.html">Legals</a></li>
        </ul>
      </nav>
    </section>
   
  </body>
</html>
